<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Smart Parser</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!--    <script>
            document.addEventListener("DOMContentLoaded", function(){
                var table = document.getElementById("table");
                var rows = table.getElementsByTagName("tr");
                for (i = 0; i < rows.length; i++) {
                    var currentRow = table.rows[i];
                    var createClickHandler =
                        function(row)
                        {
                            return function() {
                                var cell = row.getElementsByTagName("td")[0];
                                var id = cell.innerHTML;
                                document.location.href = '/book/'+id;
                            };
                        };

                    currentRow.onclick = createClickHandler(currentRow);
                }
            })
        </script>-->
</head>

<body>
<h1 style="color: darkblue">Smart Parser команды DataKit на хакатоне ВТБ</h1>
</body>